html,body  {
	width:100vw;
	overflow-x:hidden;
	margin:0px;
	padding:0px;
}
#Intro {
	margin:auto;
	margin-top:-5px;
	width:490px;
	background-image:url("oneBranch.jpg");
	border:5px solid #fff;
	height:90px;
}
#Content {
	margin-top:10px;
	display:flex;
	align-items:center;
}

#contentContainer {
	width:100vw;
}

p {
	font-family:Ubuntu;
	text-align:center;
	margin:0px;
	color:#aaaaaa;
}

/*
<div id="explainHardContainer">
			<div id="explainContainer">
			<img id="explainImg" src="src/explain.png"/>
			</div>
			<div id="hardContainer">
			<img id="hardImg" src="src/bvhardware.png"/>
			</div>
			</div>
*/

#card {
	overflow:hidden;
	width:100%;
	margin:auto;
	background:white;
	margin-top:0px;
}
.slide {
	width:100vw;
	height:100vh;
}
.page {
	width:700px;
	/*border:10px solid black;*/
	background:white;
	margin:auto;

}
.fitn {
	float:left;
	clear:center;
}
.fit {
	float:left;
}


#pic {
}
#logo {
}
#WelcomeText {
	height:50px;
	width:248px;
	margin-top:4px;
	line-height:20px;
}
#topBar {

	width:100vw;
	background:black;
	height:50px;
}
#topGap {
	width:100%;
	height:10px;
	background:#000000;
}

#brief {
	font-family:Ubuntu;
	color:#555555;
	padding:30px;
	width:650px;

	background:white;
	margin:auto;
}
#next {
	display:flex;
	font-family:Germania One;
	font-size:20px;
	color:#555555;
	padding:30px;
	width:650px;
	border-left:1px solid #999;
	border-right:1px solid #999;
	margin:auto;
}
#TechStack {
	padding:15px;
}

